
@{
    ViewBag.Title = "Index";
}

<h2>Regisration</h2>
<form action="/registration/register" method="post">
    @foreach (var item in Model)
    {
        <input type="checkbox" name="Courses[]" value="@item.Id" />@item.Code @item.Name <span>(@item.CourseStudents.Count/@item.Capacity)</span>
        <br />
    }
    <input type="submit" name="Register" class="btn btn-success" />
</form>
