
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Credit</th>
        <th>Type</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cours.Name</td>
            <td>@item.Cours.Code</td>
            <td>@item.Cours.Credit</td>
            <td>@item.Cours.Type</td>
        </tr>
    }
</table>
